@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


#root {
  margin: 0rem;
  padding: 0rem;
  min-width: 100vw;
  min-height: 100vh;
  background: #f8f8f8;
}

body {
  font-family: 'Poppins', sans-serif !important;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}


.ant-menu>.ant-menu-item-selected,
.ant-menu>.ant-menu-item:hover {
  background-color: rgb(75, 30, 150) !important;
  color: #fff !important;
}

.ant-card-body {
  font-family: 'Poppins', sans-serif !important;
  padding: 1px !important;
}

/* .ant-menu > .ant-menu-item:hover,
.ant-menu > .ant-menu-submenu:hover,
.ant-menu > .ant-menu-item-active,
.ant-menu> .ant-menu-submenu-active,
.ant-menu > .ant-menu-item-open,
.ant-menu> .ant-menu-submenu-open,
.ant-menu > .ant-menu-item-selected,
.ant-menu > .ant-menu-submenu-selected {
  color: red;
} */

.subscription-packages-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.subscription-packages-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.subscription-packages-subtitle {
  font-size: 20px;
  color: #666;
  margin-bottom: 20px;
}

.subscription-packages-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.package-price {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.package-features {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
  color: #666;
}

.package-features li {
  margin-bottom: 5px;
}
